--- nuget.config.orig	2024-03-30 12:43:18 UTC
+++ nuget.config
@@ -2,8 +2,8 @@
 <configuration>
   <packageSources>
     <clear />
-    <add key="dotnet" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v2" />
-    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
+    <add key="FreeBSD runtime" value="%%LOCALBASE%%/dotnet/packages" />
+    <add key="portbld" value="%%DISTDIR%%/nuget" />
   </packageSources>
   <disabledPackageSources>
     <clear />
